# 02-1 데이터 집합 불러오기
## 데이터 분석의 시작은 데이터 불러오기부터
### 갭마인더 데이터 집합 불러오기
1.  판다스 라이브러리 불러오기

In [1]:
import pandas as pd

2. 갭마인더 데이터 집합 불러오기

In [2]:
df = pd.read_csv('gapminder.tsv', sep='\t')

## 시리즈와 데이터프레임
### 불러온 데이터 집합 살펴보기
1. 데이터프레임의 데이터 확인하기 : head 메서드

In [3]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

2. df에 저장된 값이 데이터프레임 자료형인지 확인 : type 메서드

In [4]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

3. 데이터프레임이 가지고 있는 데이터의 행과 열의 크기에 대한 정보 : shape 속성

In [5]:
print(df.shape)

(1704, 6)

4. 데이터프레임의 열 이름 확인 : columns 속성

In [6]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

5. 데이터프레임을 구성하는 값의 자료형 : dtypes 속성 또는 info 메서드

In [7]:
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

# 02-2 데이터 추출하기
## 열 단위 데이터 추출하기
### 열 단위로 데이터 추출하기
1. 데이터프레임에서 열 이름이 country인 열을 추출하여 country_df에 저장하기

In [9]:
country_df = df['country']
print(type(country_df))

<class 'pandas.core.series.Series'>

In [10]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [11]:
country_df.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

2. 여러 개의 열을 한 번에 추출하기

In [12]:
subset = df[['country', 'continent', 'year']]
type(subset)

pandas.core.frame.DataFrame

In [13]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [14]:
subset.tail()

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

## 행 단위 데이터 추출하기
- loc : 인덱스를 기준으로 행 데이터 추출
- iloc : 행 번호를 기준으로 행 데이터 추출

## 인덱스와 행 번호 개념 알아보기

In [15]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

왼쪽의 번호가 인덱스로 보통 0부터 시작하지만 변할 수 있으며 숫자가 아니라 문자열을 사용할 수도 있다. <br/>
반면 행 번호는 데이터 순서를 따라가기 때문에 정수만으로 데이터를 조회하거나 추출할 수 있으며 실제 데이터프레임에서는 확인할 수 없다.

### loc 속성으로 행 데이터 추출하기
1. loc 속성에 대괄호를 이용하여 행 데이터 추출하기

In [16]:
df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [17]:
# 인덱스에 없는 값을 사용하면 오류 발생
df.loc[-1]

KeyError: -1

2. 데이터프레임의 마지막 행 데이터를 추출하기

In [18]:
number_of_rows = df.shape[0]
last_row_index = number_of_rows - 1
df.loc[last_row_index]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

3. tail 메서드로 데이터프레임 마지막 행 추출하기

In [44]:
df.tail(1)

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

4. 리스트에 원하는 인덱스를 담아 추출하기

In [20]:
df.loc[[0, 99, 999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

#### tail 메서드와 loc 속성의 자료형
tail 메서드는 데이터프레임, loc 속성은 시리즈로 데이터를 반환한다.

In [24]:
subset_tail = df.tail(n=1)
subset_loc = df.loc[0]

print(type(subset_tail))
print(type(subset_loc))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

### iloc 속성으로 행 데이터 추출하기
1. iloc 속성으로 행 데이터 추출하기

In [25]:
df.iloc[1]

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [26]:
df.iloc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

2. 음수를 사용해서 데이터 추출하기

In [27]:
df.iloc[-1] # 마지막 행 데이터 추출

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [28]:
# 아예 존재하지 않는 행 번호를 전달하면 오류가 생긴다.
df.iloc[1710]

IndexError: single positional indexer is out-of-bounds

3. 여러 데이터를 한 번에 추출

In [29]:
df.iloc[[0, 99, 999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

## loc, iloc 속성 자유자재로 사용하기
### 데이터 추출하기 - 슬라이싱 구문, range 메서드
1. 슬라이싱 구문으로 데이터 추출하기

In [30]:
subset = df.loc[:, ['year', 'pop']]
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [31]:
subset = df.iloc[:, [2, 4, -1]]
subset.head()

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

2. range 메서드로 데이터 추출하기

In [32]:
small_range = list(range(5))
small_range

[0, 1, 2, 3, 4]

In [33]:
type(small_range)

list

In [34]:
subset = df.iloc[:, small_range]
subset.head()

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [35]:
small_range = list(range(3, 6))
small_range

[3, 4, 5]

In [36]:
subset = df.iloc[:, small_range]
subset.head()

   lifeExp       pop   gdpPercap
0   28.801   8425333  779.445314
1   30.332   9240934  820.853030
2   31.997  10267083  853.100710
3   34.020  11537966  836.197138
4   36.088  13079460  739.981106

3. range(k, m, n) : k부터 m-1까지 n만큼 건너뛰는 제너레이터 생성하기

In [38]:
small_range = list(range(0, 6, 2))
subset = df.iloc[:, small_range]
subset.head()

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

4. 슬라이싱 구문과 range 메서드 비교하기 : 실무에서는 슬라이싱 구문을 더 선호한다.

In [39]:
subset = df.iloc[:, :3]
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

5. k:m:n 을 열 값에 지정해서 3. 에서 얻은 결과값과 동일한 값을 얻을 수 있다.

In [40]:
subset = df.iloc[:, 0:6:2]
subset.head()

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

6. loc, iloc 속성 자유자재로 사용하기

In [41]:
df.iloc[[0, 99, 999], [0, 3, 5]]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

7. loc 속성을 이용하여 열 지정값으로 열 이름을 전달하기 : 큰 규모의 데이터 분석 프로젝트에서는 loc 속성이 더 유용하다.

In [42]:
df.loc[[0, 99, 999], ['country', 'lifeExp', 'gdpPercap']]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

8. 배운 내용을 모두 응용하여 데이터 추출해보기

In [43]:
df.loc[10:13, ['country', 'lifeExp', 'gdpPercap']]

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244